#statistic

  .flex-wrap
    display flex

  .simple-list
    list-style none
    margin 0
    padding 0

    .item
      border 1px solid $border
      display flex

    .label
      padding 5px 10px
      background $border
      color #fff
      width 200px
      flex-grow 1

    .value
      width 150px
      flex-grow 1
      color $border
      text-align center
      font-size 18px
      display flex
      justify-content center
      align-items center
