// Variables
$border = rgba(0,0,0,.3)
$gridBorder = red;

// global
*
  box-sizing border-box

// Style chunks
@import "components/grid/grid.styl"
@import "components/statistic/statistic.styl"
@import "components/controls/controls.styl"

